<% provide(:title, "Log in") %>

<table class="table"
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <p id="account_type"> Account Type </p>

  <div class="field">
    <%= f.radio_button :account_type, 'teacher' %>
    <%= label :account_type_teacher, 'Teacher' %>

    <%= f.radio_button :account_type, 'student' %>
    <%= label :account_type_teacher, 'Student' %>

    <%= f.radio_button :account_type, 'parent' %>
    <%= label :account_type_teacher, 'Parent' %>
  </div>

  <div class="actions">
    <%= f.submit "Log In" %>
  </div>
    <% end %>

  </div>
</div>
</table>
